<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="plugin.notifications.v2">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application>
        <service
            android:exported="true"
            android:name="plugin.notifications.v2.CoronaFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
    </application>
</manifest>
